.sidemenu{
    background-color: #34495e;

    img{
        width: 10%
    }

    .menu{
        margin: 8% 5% 10% 15%;
    }

    p{
        font-size: 2rem;
    }

    #configure{
        border-left:white solide 0.5reml
    }

    section .active + ul {
        display: block;}
        section .active {
            cursor: default;
            border-bottom: 1px solid rgba(0,0,0,0.2);
            border-right: none;
        }

        section h4 {
            position: relative;
            width: 33.333333333333336%;
            height: 20%;
            display: block;
        }
        
    section ul {
        position: absolute;
        width: 66.66666666666667%;
        right: 0;
        top: 0;
        padding: 15px 30px;
    }
    li
      {list-style: circle}
 

}


